@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar utility */
.hover-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.hover-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hover-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

.hover-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #475569;
}

.hover-scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}